/*<<<<<<< HEAD*/
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    background: top center;
    background-size: cover;
    max-height: 400px;
    color: white;
    padding: 0px 100px 250px 100px;
}

.logoimage {
    display: flex;
    justify-content: flex-start;
}

.tajamheader {
    color: aqua;
    font-family: 'Gill Sans', sans-serif;
}

.nav {
    text-align: right;
    justify-content: flex-end;
}

.weareawesome {
    text-align: center;
    padding: 80px 50px;
}

button {
    color: aqua;
    border: 3px solid;
    border-color: aqua;
}

.our_story-section {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: fcenter;
    padding: 80px 50px;
    
}

.biglogo {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 40px;
}

.watch-section {
    background: top center;
    background-size: cover;
    max-height: 400px;
}

.playbutton {
    display: flex;
    justify-content: center;
}
/*=======*/
.footer{
    background: no-repeat top center;
    background-size: cover;
    max-height: 300px;
}

.footer_sub{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-end;
    

}
.form_inline{
    height: 200px;
    font-size: 14px;
}

.form-control{
    height: 30px;
    font-size: 15px;
    max-width: 180px;
}

.footer_social_m{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin: 20px;
    padding: 5px;

}

.foot_foot{
    display: grid;
    
   

}

.foot_nav{
    display: inline;
    
    list-style: none;
}

.foot_nav li{
    display: flex;
    flex-direction: row;
    gap:10px;
    font-size:13px;

    
}
.wrapper {    
    display: grid;    
    grid-template-columns: 15rem 15rem 15rem;
    color:beige;
    grid-gap: 3rem;
    margin: 15px;
    padding: 2rem;
    justify-content: space-between;
    padding-bottom: 100px;
}

.logo_color{
    color:aqua;
    font-size: 30px;
    margin-left: 60px;
    margin-bottom: 1px;
    margin-top: 10px;
    
}

.btn{
    margin-top: 0px;
    padding-bottom: 0px;
    padding: 7px;
}

.copyright{
    margin-bottom: 10px;
    padding-bottom: 10px;
}